.btn-primary {
    color: #fff;
    display: inline-block;
    padding: 12px 36px;
    background-color: #e80000;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
    background-color: #003DA7;
}

.btn-primary.btn-secondary {
    background-color: #003DA7;
}
.btn-primary.btn-secondary:hover {
    background-color: #e80000;
}