
.pm-header-area {
    padding: 20px 0px;
}
@media only screen and (max-width: 767.98px) {
    .pm-header-area {
        padding: 15px 0px;
    }
}

.pm-header-menu-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.pm-navbar-nav {
    display: flex;
}
@media only screen and (max-width: 767.98px) {
    .pm-navbar-nav {
        display: block;
    }
}
.pm-navbar-nav .pm-nav-item:last-child a {
    padding-right: 0px;
}
.pm-navbar-nav .pm-nav-item:first-child a {
    padding-left: 0px;
}
.pm-navbar-nav .pm-nav-item .pm-nav-link {
    color: #40403F;
    text-transform: capitalize;
    padding: 16px 16px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
@media only screen and (max-width: 991.98px) {
    .pm-navbar-nav .pm-nav-item .pm-nav-link {
        padding: 12px 10px;
    }
}
@media only screen and (max-width: 767.98px) {
    .pm-navbar-nav .pm-nav-item .pm-nav-link {
        padding: 8px 0px !important;
        display: block;
        color: #ffffff;
    }
}

/**Mobile-menu**/
@media only screen and (max-width: 767.98px) {
    .pm-mobile-menu-icon {
        margin-left: 10px;
    }
}
.pm-mobile-menu-icon .pm-mobile-menu-open {
    width: 40px;
    display: none;
    position: relative;
    z-index: 999;
}
@media only screen and (max-width: 767.98px) {
    .pm-mobile-menu-icon .pm-mobile-menu-open {
        display: block;
    }
}
@media only screen and (max-width: 767.98px) {
    .pm-mobile-menu-icon .pm-mobile-menu-open {
        width: 35px;
    }
}
.pm-mobile-menu-icon .pm-mobile-menu-open:hover span {
    width: 100% !important;
}
.pm-mobile-menu-icon .pm-mobile-menu-open span {
    height: 4px;
    display: block;
    margin: 7px 0px;
    margin-bottom: 0px;
    transition: all 0.3s;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: right;
    margin-left: auto;
    background-color: #111110;
}
.pm-mobile-menu-icon .pm-mobile-menu-open span:nth-child(1) {
    width: 100%;
    margin-top: 0;
}
.pm-mobile-menu-icon .pm-mobile-menu-open span:nth-child(2) {
    width: 80%;
}
.pm-mobile-menu-icon .pm-mobile-menu-open span:nth-child(3) {
    width: 60%;
}
@media only screen and (max-width: 767.98px) {
    .pm-mobile-menu-icon .pm-mobile-menu-open span {
        height: 4px;
    }
}

.pm-mobile-logo-close {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 24px 0px;
    position: relative;
    display: none;
}
@media only screen and (max-width: 767.98px) {
    .pm-mobile-logo-close {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}
.pm-mobile-logo-close::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2117647059);
    left: -24px;
    bottom: 10px;
}
.pm-mobile-logo-close .pm-menu-close {
    width: 38px;
    height: 38px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.pm-mobile-logo-close .pm-menu-close i {
    font-size: 20px;
    color: #ffffff;
}

@media only screen and (max-width: 767.98px) {
    .pm-mobile-menu-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(30, 34, 40, 0.7);
        top: 0;
    }
}
@media only screen and (max-width: 767.98px) {
    .pm-mobile-menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }
}

@media only screen and (max-width: 767.98px) {
    .pm-mobile-menu-wrapper {
        position: fixed;
        background: #040D44;
        z-index: 9999;
        top: 0;
        height: 100vh;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        left: 0;
        padding: 0px 24px 0px;
        overflow-y: auto;
        transform: translateX(-100%);
        min-width: 300px;
        animation: unset !important;
    }
}
@media only screen and (max-width: 767.98px) {
    .pm-mobile-menu-wrapper.active {
        transform: translateX(0%);
    }
}
